<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h2>Lista odeljenja:</h2>
        <hr/>
        <h:form>
            <h:dataTable id= "odeljenjaId" value= "#{departmentMB.departments}" var= "odeljenje">
                <h:column>
                    <f:facet name="header">Učitelj</f:facet>
                        #{odeljenje.uciteljiId.ime} #{odeljenje.uciteljiId.prezime}&#160;&#160;&#160;&#160;&#160;&#160;
                </h:column>
                <h:column>
                    <f:facet name="header">Odeljenje</f:facet> 
                        #{odeljenje.ime}&#160;&#160;&#160;&#160;&#160;&#160;
                </h:column>
                <h:column>
                    <f:facet name="header">Izmena</f:facet>
                    <h:commandButton value='Izmeni'/>
                </h:column>
            </h:dataTable>
        </h:form>
        <br/>
        
        <h2>Lista ucenika:</h2>
        <hr/>
        <h:form>
            <h:dataTable id = "uceniciId" value="#{studentMB.allStudents}" var="ucenici">
                <h:column>
                    <f:facet name="header">Učenik</f:facet>
                        #{ucenici.ime} #{ucenici.prezime}&#160;&#160;&#160;&#160;&#160;&#160;
                </h:column>
                <h:column>    
                    <f:facet name="header">Odeljenje</f:facet>
                        #{ucenici.odeljenjaId.ime}&#160;&#160;&#160;&#160;&#160;&#160;
                </h:column>
                <h:column>   
                    <f:facet name="header">Roditelj</f:facet>
                        #{ucenici.roditeljiId.ime} #{ucenici.roditeljiId.prezime}
                </h:column>
            </h:dataTable>
        </h:form>
        <br/>
        
        <h2>Lista roditelja:</h2>
        <hr/>
        <h:form>
            <h:dataTable id = "roditeljiId" value="#{parentsMB.allParents}" var="roditelji">
                <h:column>
                    <f:facet name="header">Roditelj</f:facet>
                        #{roditelji.ime} #{roditelji.prezime}&#160;&#160;&#160;&#160;&#160;&#160;
                </h:column>
                <h:column>    
                    <f:facet name="header">Nalog</f:facet>
                        #{roditelji.korisniciId.nalog}&#160;&#160;&#160;&#160;&#160;&#160;
                </h:column>
                <h:column>   
                    <f:facet name="header">Loznka</f:facet>
                       #{roditelji.korisniciId.lozinka}
                </h:column>
            </h:dataTable>
        </h:form>
        <br/>
        <h:form>
            <h:link value="Prijava" outcome="index"/>
        </h:form>
    </h:body>
</html>

