<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <title>Admin - Departments Manager</title>
    </h:head>
    <h:body>
        <h2>ODELJENJA</h2>
        <hr/>
        <h:form>
            <h:dataTable id= "listaOdeljenja" value= "#{departmentMB.departments}" var= "odeljenje" border="1">
                <h:column>
                    <f:facet name="header">Učitelj</f:facet>
                        #{odeljenje.uciteljiId.ime} #{odeljenje.uciteljiId.prezime}
                </h:column>
                <h:column>
                    <f:facet name="header">Odeljenje</f:facet> 
                        #{odeljenje.ime}
                </h:column>
                <h:column>
                    <f:facet name="header">Izmena</f:facet>
                    <h:commandButton value='Izmeni'/>
                </h:column>
            </h:dataTable>
        </h:form><hr/>
        <h:form>
            <h:outputLabel value="Dodaj novo odeljenje:" />
            <h:panelGrid id="dodajOdeljenje" columns="3" cellpadding="10" cellspacing="1">
                <h:outputLabel value="Naziv:"/>
                <h:inputText id="imeOdeljenja" p:placeholder="Naziv odeljenja" value="" required="true" requiredMessage="Polje je obavezno!"/>
                <h:message for="imeOdeljenja" style="color: red"/>
                
                <h:outputLabel value="Učitelj:"/>
                
                <f:facet name="footer">
                    <h:commandButton value="DODAJ" action="#"/>
                </f:facet>
            </h:panelGrid>
        </h:form>
    </h:body>
</html>

