<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <head>
        <title>Ucenik</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h:form>
            <h:dataTable id="oceneId" value="#{oceneMB.oceneUcenika}" var="ocene">
                <h:column>
                    <f:facet name="header">Predmeti</f:facet>
                    #{ocene.predmetiId.ime}
                </h:column>
                <h:column>    
                    <f:facet name="header">Ocene</f:facet>
                    #{ocene.ocena}
                </h:column>
            </h:dataTable>
        </h:form>
    </body>
</html>
