<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <head>
        <title>Ucenici iz odeljenja</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
            <h2>Lista ucenika:</h2>
        <hr/>
        <h:form>
            <h:dataTable id = "uceniciId" value="#{studentMB.allStudentsFromDepartment}" var="ucenici">
                <h:column>
                    <f:facet name="header">Učenik</f:facet>
                    <h:commandButton id="uceniciId" value = "#{ucenici.ime} #{ucenici.prezime}" action="#{navigationController.moveToUcenik()}">
                        <f:param name="ucenik" value="#{ucenici.id}"/>
                    </h:commandButton>
                    </h:column>
            </h:dataTable>
        </h:form>
    </body>
</html>

